<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b>Project <%= @project.name %> is locked!</b></p>
    <p>
      Project has been automatically locked to avoid unnecessary rebuilds of inactive projects.
      You are receiving this email, because you are project maintainer.
      You can unlock project from <%= link_to "webui", {
          controller: 'webui/project',
          action: :show,
          host: @host,
          :project => @project.name } %>
      or via command line:
    </p>
    <p>
      osc unlock <%= @project.name %>
    </p>
    <p>
      You can remove 'AutoLock' attribute from project <%= link_to "attributes", {
          controller: 'webui/attribute',
          action: :index,
          host: @host,
          :project => @project.name } %>
      in order prevent project being autolocked again.
    </p>
  </body>
</html>

